export(.onAttach,
    allExpressions,
    calibrate,
    compute,
    createMatrix,
    deMorgan,
    deMorganLoop,
    eqmcc,
    eqmccLoop,
    export,
    factorize,
    findRows,
    findSubsets,
    findSupersets,
    findTh,
    fuzzyand,
    fuzzyor,
    getRow,
    intersection,
    makeChart,
    pof,
    prettyTable,
    print.aE,
    print.deMorgan,
    print.fctr,
    print.pof,
    print.qca,
    print.mqca,
    print.pic,
    print.sS,
    print.tt,
    recode,
    retention,
    runGUI,
    solveChart,
    superSubset,
    translate,
    truthTable,
    uninstall,
    verify.data,
    verify.dir.exp,
    verify.eqmcc,
    verify.inf.test,
    verify.qca,
    verify.mqca,
    verify.tt,
    XYplot)
import(lpSolve)
import(shiny)
import(venn)
import(fastdigest)
importFrom("utils", "combn", "packageDescription", "remove.packages", "capture.output")
importFrom("stats", "binom.test", "cutree", "dist", "hclust", "na.omit", "dbinom")
importFrom("grDevices", "dev.cur", "dev.new", "dev.list")
importFrom("graphics", "abline", "axis", "box", "mtext", "par", "title", "text")
importFrom("methods", "is")
S3method(print, "aE")
S3method(print, "deMorgan")
S3method(print, "fctr")
S3method(print, "fuzzyop")
S3method(print, "mqca")
S3method(print, "pic")
S3method(print, "pof")
S3method(print, "qca")
S3method(print, "sS")
S3method(print, "translate")
S3method(print, "tt")