useDynLib(QCAGUI)
export(.onAttach,
    allExpressions,
    asNumeric,
    base3rows,
    calibrate,
    compute,
    createChart,
    createMatrix,
    createString,
    demoChart,
    deMorgan,
    deMorganLoop,
    eqmcc,
    eqmccLoop,
    export,
    factor.function,
    factorize,
    findSubsets,
    findSupersets,
    findTh,
    fuzzyand,
    fuzzyor,
    getBigList,
    getNonChars,
    getRow,
    getSolution,
    intersection,
    insideBrackets,
    is.deMorgan,
    is.pof,
    is.qca,
    is.tt,
    is.sS,
    negateValues,
    outsideBrackets,
    pof,
    possibleNumeric,
    prettyString,
    prettyTable,
    print.aE,
    print.deMorgan,
    print.fctr,
    print.pof,
    print.qca,
    print.mqca,
    print.pic,
    print.sS,
    print.tt,
    recode,
    removeDuplicates,
    removeSingleStars,
    retention,
    rowDominance,
    runGUI,
    simplifyList,
    solveBrackets,
    solveChart,
    sortMatrix,
    sortVector,
    splitstr,
    splitBrackets,
    splitMainComponents,
    splitPluses,
    splitStars,
    splitTildas,
    superSubset,
    translate,
    trimst,
    truthTable,
    uninstall,
    verify.data,
    verify.dir.exp,
    verify.eqmcc,
    verify.inf.test,
    verify.qca,
    verify.mqca,
    verify.tt,
    writePrimeimp,
    writeSolution)
import(lpSolve)
import(shiny)
import(venn)
importFrom("utils", "combn", "packageDescription", "remove.packages")
importFrom("stats", "binom.test", "cutree", "dist", "hclust", "na.omit", "dbinom")
S3method(print, "aE")
S3method(print, "deMorgan")
S3method(print, "fctr")
S3method(print, "fuzzyop")
S3method(print, "mqca")
S3method(print, "pic")
S3method(print, "pof")
S3method(print, "qca")
S3method(print, "sS")
S3method(print, "translate")
S3method(print, "tt")

