@media (min-width: 768px) {
    #main-menu {
        position: relative;
        z-index: 9999;
    }
    #main-menu ul {
        width: 12em; /* fixed width only please - you can use the "subMenusMinWidth"/"subMenusMaxWidth" script options to override this if you like */
    }
}



body {
    margin: 0;
    background-color: #fffcf7;
}



/*  background: -webkit-linear-gradient("#b4d395", "#8ab958"); /* For Safari 5.1 to 6.0 */
/*  background: -o-linear-gradient("#b4d395", "#8ab958"); /* For Opera 11.1 to 12.0 */
/*  background: -moz-linear-gradient("#b4d395", "#8ab958"); /* For Firefox 3.6 to 15 */
/*  background: linear-gradient("#b4d395", "#8ab958"); /* Standard syntax */

.header {
    background: linear-gradient(to bottom, #b4d395 0%, #8ab958 100%);
    height: 19px;
    font-size: 14px;
    font-family: "Arial";
    vertical-align: middle;
}


.outerborder {
    border: 2px solid;
    border-color: #aaaaaa;
    box-shadow: none;
}

/*
.outerborder:hover, .outerborder:active {
    box-shadow: 0 0 20px #aaaaaa;
}
*/

.border {
    height: 15px;
    border: 1px solid;
    border-color: #d0d0d0;
}




#command_main{
    overflow-x: auto;
    overflow-y: auto;
    white-space: pre;
    font-size: 14px;
    font-family: Monaco,Menlo,Consolas,'Courier New',monospace;
    padding: 7 7 7 7;
    box-sizing: border-box;
}


#result_main{
    overflow-x: auto;
    overflow-y: auto;
    white-space: pre;
    font-size: 14px;
    font-family: Monaco,Menlo,Consolas,'Courier New',monospace;
    padding: 7 7 7 7;
    box-sizing: border-box;
}

#about_main {
    font-family: "Arial";
    font-size: 14px;
    padding: 7 7 7 7;
    box-sizing: border-box;
}


#dircontent{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 280;
}




#data_colnames{
    overflow: hidden;
}


#data_rownames{
    overflow: hidden;
}


#data_body{
    overflow-x: auto;
    overflow-y: auto;
}


